@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    background-color: #d1adbf;
    border: color #3c383a;;
}
select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #373134;
    border-radius: 4px;
}


*{
    font-family: Outfit;
}